@using DotNetNuke.Common.Utilities;
@using DotNetNuke.Entities.Tabs;
@using System.Collections.Generic;

@{
    var nodes = new List<DotNetNuke.Entities.Tabs.TabInfo>();
    if (Null.IsNull(@Dnn.Tab.ParentId))
    {
        nodes = TabController.GetTabsByParent(Null.NullInteger, @Dnn.Portal.PortalId);
    }
    else
    {
        nodes = TabController.GetTabsByParent(@Dnn.Tab.ParentId, @Dnn.Portal.PortalId);
    }
}
<div class="list-group">
    @foreach (var node in nodes)
    {
        if (node.IsVisible) { 
            var cssClasses = new List<string>();
            cssClasses.Add("list-group-item");

            if (node.TabID == @Dnn.Tab.TabID) { cssClasses.Add("active"); }
            var classString = new HtmlString((cssClasses.Count == 0) ? "" :
                                (" class=\"" + String.Join(" ", cssClasses.ToArray()) + "\""));

            <a href="@node.FullUrl" @classString>@node.TabName</a>
        }
    }
</div>
